/*General Styles*/

* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  font-family: "Slabo", sans-serif;
}
body {

  text-align: center;
}

p,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}



/*Header part*/
header {
    background-color: #fafafa;
    padding-bottom: 1em;
}


.main-nav {
  display: block;

}
h1 {
  font-size: 2em;
}

.main-nav a{
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    color:black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bolder;
    background-color: lightgrey;
}

.profile-img {
  margin: 15px auto;
  width: 70%
}

/*Portfolio Part*/
main {
  padding-top: 1em;
  padding-bottom: 1em;
}
.portfolio-img {
  width: 90%;
  margin: auto;
}

main p{
  color:purple;
}

#skills {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*Footer*/

footer {
  font-family: "Merriweather", serif;
  background-color: #fafafa;
  padding-top: 1em;
}

.phone-no,
.email {
  font-weight: bold;
}

.footer-bottom {
  border-top: 1px solid lightgrey;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-bottom h4{
  float:left;
  margin-left: 10px;
}

.footer-bottom a{
  float: right;
  margin-right: 10px;
  color:black;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
}

.footer-nav {
  display: none;
}

/* Media Query for tablets */
@media (min-width: 768px) {

  .back-to-top {
    display:none;
  }
  /*Header*/
  h1 {
    margin-top: 1em;
  }
  .main-nav ul li{
    display: inline-block;
    margin: 0 1em;
  }

  .profile-img {
    float:right;
    width: 50%;
    margin-right: 2em;
  }

  .profile-text {
    font-size: 2em;
    text-align: left;
    margin-left: 2em;
  }
  /* Portfolio*/
  .portfolio-part {
    display: inline-block;
    width: 49%;
    font-size: 1.6em;
  }

  /*footer*/


  footer p {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }

  footer {
    padding-bottom: 2em;
  }

  h4 {
    display: inline;
    font-size: 1.5em;
    float: left;
  }

  .footer-bottom {
      padding-top: 1.5em;
      margin: 0em 3em;
  }

  .footer-nav {
    display: inline;

  }

  .footer-nav ul{
    float: right;
  }

  .footer-nav li {
    display:inline;

  }

  .footer-nav a {
    display: inline;

    color:black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
  }
}






/* Media Query for Desktops*/

@media (min-width: 1024px) {
  /* Portfolio*/
  .portfolio-part {
    display: inline-block;
    width: 30%;
    font-size: 1.6em;
  }

  .header-top {
    display: inline-block;
    width: 100%;
  }

  h1 {
    display: inline-block;
    float: left;
    margin: 1em 2em;
  }

  .main-nav ul li{
    display: inline-block;
    float:right;
    margin: 2em 2em 2em 1em;
  }



}


/*Clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
